@model ShuttleService.Models.VehicleList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlateNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodingDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodingDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
