@model ShuttleService.Models.Trip

@{
    ViewData["Title"] = "Trip";
}
<style>

    .clockpicker-popover {
        z-index: 99992 !important;
    }

    .select2-container {
        z-index: 99992 !important;
    }

    #createTrip {
        z-index: 99991 !important;
    }
</style>
<div class="wrapper wrapper-content row">
    <div class="col-md-4 pull-left">
        <h4>Shuttle Service Schedule - <red style="color:red">@ViewBag.dtimestamp</red></h4>
    </div>

    <div class="col-md-8 ">
        <div class="btn-group pull-right">
            @if (ViewBag.SMSLog <= 0)
            {
                <button type="button" class="btn btn-w-m btn-info smsbtn " onclick="SendSMSModal();">Send SMS Summary</button>
            }
            else
            {
                <button type="button" class="btn btn-w-m btn-info smsbtn " onclick="SendSMSModal();">Re-Send SMS Summary</button>
            }
            @if (ViewBag.OverAllApprover == 1)
            {
                <button type="button" class="btn btn-w-m btn-warning" onclick="OpenModalAddPassengerByPass();">Add New Passenger (Bypass)</button>
            }
            <button type="button" class="btn btn-w-m btn-primary" onclick="AddTrip();">Add New Trip</button>
            <button type="button" class="btn btn-w-m btn-success" onclick="ViewTrip();">View Trips</button>
            <button type="button" class="btn btn-w-m btn-danger " onclick="GoBack('@Url.Content("~/trips")')">Back</button>
        </div>
    </div>

    @*<div class="col-md-2">
            <button type="button" class="btn btn-w-m btn-primary btn-block" onclick="Reservation();">Add New Trip</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-w-m btn-success btn-block" onclick="Reservation();">View Trips</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-w-m btn-danger btn-block" onclick="GoBack('@Url.Content("~/shuttlepassengers")')">Back</button>
        </div>*@
</div>
<div class="wrapper wrapper-content animated fadeInRight white-bg">
    <div class="TripLookup hidden">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group row divTrip">
                        <div class="col-sm-4">
                            <label class="control-label">Trip ID:</label>
                            <pright>:</pright>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label" id="lblTrip"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label class="control-label">Service Date</label>
                            <pright>:</pright>
                        </div>
                        <div class="col-sm-8">
                            @*<input id="ServiceDateTimeStamp" class="input-sm form-control datepicker" name="LodgingTo" value="@ViewBag.dtimestamp">*@
                            <input type="hidden" id="TripIdLoaded" value="-1" readonly name="TripIdLoaded">
                            <span asp-validation-for="ServiceDateTimeStamp" class="text-danger"></span>
                            <label class="control-label">@ViewBag.dtimestamp</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label class="control-label">Vehicle</label>
                            <pright>:</pright>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label" id="lblVehicle"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label class="control-label">Capacity</label>
                            <pright>:</pright>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label" id="lblCapacity"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label class="control-label">Remaining Capacity (AM)</label>
                            <pright>:</pright>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label" id="lblRemaining"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label class="control-label">Remaining Capacity (PM)</label>
                            <pright>:</pright>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label" id="lblRemainingPM"></label>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <div class="col-sm-4">
                                <label class="control-label">No. of Reserved Passenger (AM)</label>
                                <pright>:</pright>
                            </div>
                            <div class="col-sm-8">
                                <label class="control-label" id="lblAmPassenger"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="control-label">No. of Reserved Passenger (PM)</label>
                                <pright>:</pright>
                            </div>
                            <div class="col-sm-8">
                                <label class="control-label" id="lblPmPassenger"></label>
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label class="control-label">Driver</label>
                            <pright>:</pright>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label" id="lblDriver"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label class="control-label">AssemblyArea</label>
                            <pright>:</pright>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">@ViewBag.AssemblyArea</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>

        <hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;" />

        <div class="">
            <div class="row">
                <div class=" col-md-6">
                    <h3 style="color:red">Reserved</h3>
                </div>

                <div class="col-md-6 ">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-w-m btn-danger" id="RemoveReserveBtn" onclick="AssignReserve(2);">Remove</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" col-sm-12">
                    <label style="font-style:italic;">Reserved Morning Passenger(s)</label>
                    <br />
                    <table id="tableMorning" class="table table-striped table-bordered table-hover text-center table100">
                        <thead>
                            <tr>
                                <th class="text-center ebeTableReserved">
                                    IDs
                                </th>
                                <th class="text-center ebeTableReserved">
                                    Name
                                </th>
                                <th class="text-center ebeTableReserved">
                                    Contact Number
                                </th>
                                <th class="text-center ebeTableReserved">
                                    Status
                                </th>
                                <th class="text-center ebeTableReserved">
                                    Remarks
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class=" col-sm-12">
                    <label style="font-style:italic;">Reserved Afternoon Passenger(s)</label>
                    <br />
                    <table id="tableAfternoon" class="table table-striped table-bordered table-hover text-center table100">
                        <thead>
                            <tr>
                                <th class="text-center ebeTableReserved">
                                    IDs
                                </th>
                                <th class="text-center ebeTableReserved">
                                    Name
                                </th>
                                <th class="text-center ebeTableReserved">
                                    Contact Number
                                </th>
                                <th class="text-center ebeTableReserved">
                                    Status
                                </th>
                                <th class="text-center ebeTableReserved">
                                    Remarks
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


        <hr style="display: block; height: 1px;border: 0; border-top: 1px solid #ccc;margin: 1em 0; padding: 0;" />

    </div>

    <div class="">
        <div class="row">
            <div class=" col-sm-6">
                <h3 style="color:red">For Assigning</h3>
            </div>
            <div class="col-md-6 ">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-w-m btn-primary hidden" id="ReserveBtn" onclick="AssignReserve(1);">Reserve</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-sm-12">
                <label style="font-style:italic;">Available Morning Passenger(s)</label>
                <br />
                <table id="tableMorningAvailable" class="table table-striped table-bordered table-hover text-center table100">
                    <thead>
                        <tr>
                            <th class="text-center ebeTableAvailable">
                                Action
                            </th>
                            <th class="text-center ebeTableAvailable">
                                IDs
                            </th>
                            <th class="text-center ebeTableAvailable">
                                Name
                            </th>
                            <th class="text-center ebeTableAvailable">
                                Contact Number
                            </th>
                            <th class="text-center ebeTableAvailable">
                                Status
                            </th>
                            <th class="text-center ebeTableAvailable">
                                Remarks
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="">
        <div class="row">
            <div class=" col-sm-12">
                <label style="font-style:italic;">Available Afternoon Passenger(s)</label>
                <br />
                <table id="tableAfternoonAvailable" class="table table-striped table-bordered table-hover text-center table100">
                    <thead>
                        <tr>
                            <th class="text-center ebeTableAvailable">
                                Action
                            </th>
                            <th class="text-center ebeTableAvailable">
                                IDs
                            </th>
                            <th class="text-center ebeTableAvailable">
                                Name
                            </th>
                            <th class="text-center ebeTableAvailable">
                                Contact Number
                            </th>
                            <th class="text-center ebeTableAvailable">
                                Status
                            </th>
                            <th class="text-center ebeTableAvailable">
                                Remarks
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="createTrip" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-col-red">
            <div class="modal-header" style=" padding: 10px 25px 5px 25px!important;border-style: none none solid none;">
                <h4 class="modal-title" id="ModalTitle" style="font-size: 15px;">Create Trip</h4>
            </div>
            <div class="modal-body">
                <form id="formTrip">
                    <div class="modal-body form-horizontal">

                        <div class="row hidden">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label"> Trip Type </label>
                                </div>
                                <div class="col-sm-8">

                                    <input class="form-control input-sm hidden" value="0" disabled id="TripId" name="TripId" />
                                    <input class="form-control input-sm hidden" value="@ViewBag.unixtimeFormatted" disabled id="ServiceDateTimeStamp" name="ServiceDateTimeStamp" />
                                    @*<select asp-for="ReservationTypeId" class="form-control" asp-items="ViewBag.ReservationTypeId"></select>*@
                                    <select id="ReservationTypeId" name="ReservationTypeId" class="form-control">
                                        <option value="1" selected>Shuttle Service</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label"> Time From </label>
                                </div>
                                <div class="col-sm-8">

                                    <div class="input-group clockpicker" data-autoclose="true">
                                        <input type="text" id="ServiceStartDate" name="ServiceStartDate" onchange="reInitVehicleDriver();clearOtherDate();" data-mask="99:99" class="form-control" value="00:00">
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label"> Time Until </label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group clockpicker" data-autoclose="true">
                                        <input type="text" id="ServiceEndDate" name="ServiceEndDate" onchange="reInitVehicleDriver();" data-mask="99:99" class="form-control" value="00:00">
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label"> Vehicle </label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="VehicleListId" name="VehicleListId" class="form-control select2-vehicle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label"> Capacity </label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control input-sm" readonly id="Capacity" name="Capacity" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label"> Driver </label>
                                </div>
                                <div class="col-sm-8">
                                    <select asp-for="DriverId" class="form-control select2-driver"></select>
                                </div>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="loaded">
                    <button type="button" class="btn btn-success waves-effect" id="saveCreate" onclick="SaveTrip(1)">Save</button>
                    <button type="button" class="btn btn-success waves-effect hidden" id="saveUpdate" onclick="SaveTrip(2)">Save</button>
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalSelectTrip" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-col-red">
            <div class="modal-header" style=" padding: 10px 25px 5px 25px!important;border-style: none none solid none;">
                <h4 class="modal-title" id="ModalTitle" style="font-size: 15px;">Trip Lists</h4>
            </div>
            <div class="modal-body">
                <table id="tableSelectTrip" class="table table-striped table-bordered table-hover table100"></table>
            </div>
            <div class="modal-footer">
                <div class="loaded">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalAddPassengerByPass" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-col-red">
            <div class="modal-header" style=" padding: 10px 25px 5px 25px!important;border-style: none none solid none;">
                <h4 class="modal-title" style="font-size: 15px;">New Passenger</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="loaded">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalCancelRemarks" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-col-red">
            <div class="modal-header" style=" padding: 10px 25px 5px 25px!important;border-style: none none solid none;">
                <h4 class="modal-title" style="font-size: 15px;">Please provide cancel reason</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label>Cancel Reason</label>
                    <input type="hidden" class="form-control" id="CancelId" value="0" />
                    <input type="text" class="form-control" id="CancelReason" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="loaded">
                    <button type="button" class="btn btn-danger waves-effect" id="btnCancelGroup" onclick="CancelTrip();">Proceed</button>

                    <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SendSMSModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-col-red">
            <div class="modal-header" style=" padding: 10px 25px 5px 25px!important;border-style: none none solid none;">
                <h4 class="modal-title" style="font-size: 15px;">SMS Summary</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <textarea class="form-control" id="smsTextarea" cols="70" rows="30"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="loaded">
                    <button type="button" class="btn btn-success waves-effect" onclick="SendSMS();">Send SMS</button>

                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="ModalCancelDeclineRemarks" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-col-red">
            <div class="modal-header" style=" padding: 10px 25px 5px 25px!important;border-style: none none solid none;">
                <h4 class="modal-title" style="font-size: 15px;">Please provide reason</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label id="CancelDeclineTitle"></label>
                    <input type="hidden" class="form-control" id="CancelDeclineId" value="0" />
                    <input type="hidden" class="form-control" id="CancelDeclineMode" value="0" />
                    <input type="text" class="form-control" id="CancelDeclineReason" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="loaded">
                    <button type="button" class="btn btn-danger waves-effect" id="btnCancelDeclineGroup" onclick="CancelDeclineTrip();">Proceed</button>

                    <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
    function Reservation() {
            var dtimestamp = @ViewBag.unixtime;
            var dateToday = new Date();
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);




        if (dateToday >= dtimestamp || (tomorrow >= dtimestamp && dateToday.getHours() >= 16) ) {
                swalAlertOnly('Error','Invalid Reservation Date.','error');
            } else {
            window.location.href = '@Url.Content("~/shuttlepassengers/create?d=")' + (dtimestamp / 1000);
            }
    }
    </script>
}

<script>
     $('#tableMorning').DataTable({
        "processing": false,
        "serverSide": true,
        "autoWidth": false,
         "searching": false,
         "ordering": false,
        "scrollX": true,
        "bLengthChange": false,
        "ajax": {
            "url": "@Url.Content("~/shuttlepassengers/CheckPassengerReservationReserved")",
            "type": "POST",
            "data": function (d) {
                var dtimestamp = @ViewBag.unixtime;
                d.triptype = "morning";
                d.timestamp = dtimestamp / 1000;
                d.shuttleid = $("#TripIdLoaded").val();
            }
        },
        "columns": [
            { "data": "name", title: "Name", width: "30%", orderable: false },
            { "data": "contactNumber", title: "Contact Number", width: "15%", orderable: false },
            { "data": "statusDescription", title: "Status", width: "20%", orderable: false },
            { "data": "remarks", title: "Remarks", width: "30%", orderable: false },
            { "data": "no", title: "Select", width: "5%", orderable: false },
        ]
        ,
        'select': {
            'style': 'single'
        },
         "order": [[0, "desc"]]
            });

     $('#tableAfternoon').DataTable({
        "processing": false,
        "serverSide": true,
        "autoWidth": false,
        "searching": false,
         "scrollX": true,
         "ordering": false,
        "bLengthChange": false,
        "ajax": {
            "url": "@Url.Content("~/shuttlepassengers/CheckPassengerReservationReserved")",
            "type": "POST",
            "data": function (d) {
                var dtimestamp = @ViewBag.unixtime;
                d.triptype = "afternoon";
                d.timestamp = dtimestamp / 1000;
                d.shuttleid = $("#TripIdLoaded").val();
            }
        },
        "columns": [
            { "data": "name", title: "Name", width: "30%", orderable: false },
            { "data": "contactNumber", title: "Contact Number", width: "15%", orderable: false },
            { "data": "statusDescription", title: "Status", width: "20%",orderable: false },
            { "data": "remarks", title: "Remarks", width: "30%", orderable: false },
            { "data": "no", title: "Select", width: "5%", orderable: false },
        ]
        ,
        'select': {
            'style': 'single'
        },
        //"order": [[0, "desc"]]
            });

     $('#tableMorningAvailable').DataTable({
        "processing": false,
        "serverSide": true,
        "autoWidth": false,
         "searching": false,
         "ordering": false,
        "scrollX": true,
        "bLengthChange": false,
        "ajax": {
            "url": "@Url.Content("~/shuttlepassengers/CheckPassengerReservationAvailable")",
            "type": "POST",
            "data": function (d) {
                var dtimestamp = @ViewBag.unixtime;
                d.triptype = "morning";
                d.timestamp = dtimestamp/1000;
            }
        },
         "columns": [
            { "data": "action", title: "Action", width: "5%", orderable: false },
            { "data": "name", title: "Name", width: "30%", orderable: false },
            { "data": "contactNumber", title: "Contact Number", width: "15%", orderable: false },
            { "data": "statusDescription", title: "Status", width: "20%", orderable: false },
            { "data": "remarks", title: "Remarks", width: "30%", orderable: false },
            { "data": "no", title: "Select", width: "5%", orderable: false },
        ]
        ,
        'select': {
            'style': 'single'
        },
         "order": [[1, "desc"]]
            });

     $('#tableAfternoonAvailable').DataTable({
        "processing": false,
        "serverSide": true,
        "autoWidth": false,
        "searching": false,
         "scrollX": true,
         "ordering": false,
        "bLengthChange": false,
        "ajax": {
            "url": "@Url.Content("~/shuttlepassengers/CheckPassengerReservationAvailable")",
            "type": "POST",
            "data": function (d) {
                var dtimestamp = @ViewBag.unixtime;
                d.triptype = "afternoon";
                d.timestamp = dtimestamp / 1000;
            }
        },
         "columns": [
             { "data": "action", title: "Action", width: "5%", orderable: false },
            { "data": "name", title: "Name", width: "30%", orderable: false },
            { "data": "contactNumber", title: "Contact Number", width: "15%", orderable: false },
            { "data": "statusDescription", title: "Status", width: "20%",orderable: false },
            { "data": "remarks", title: "Remarks", width: "30%", orderable: false },
            { "data": "no", title: "Select", width: "5%", orderable: false },
        ]
        ,
        'select': {
            'style': 'single'
        },
        //"order": [[0, "desc"]]
    });


    $('#tableSelectTrip').DataTable({
        "processing": false,
        "serverSide": true,
        "autoWidth": false,
        "searching": false,
        "scrollX": true,
        "bLengthChange": false,
        "ajax": {
            "url": "@Url.Content("~/trips/ViewTripToday")",
            "type": "POST",
            "data": function (d) {
                d.unixTime = '@ViewBag.unixtimeFormatted';
                d.method = 2;
            }
        },
        "columns": [
            { "data": "id", title: "Action", orderable: true },
            { "data": "tripType", title: "Trip Type", orderable: false },
            { "data": "serviceDate", title: "Service Date", orderable: false },
            { "data": "timeStart", title: "From", orderable: false },
            { "data": "timeEnd", title: "To", orderable: false },
            { "data": "driver", title: "Driver", orderable: false },
            { "data": "vehicle", title: "Vehicle", orderable: false },
            { "data": "originalCapacity", title: "Capacity", orderable: false },
            { "data": "remaining", title: "Remaining (AM)", orderable: false },
            { "data": "remainingPM", title: "Remaining (PM)", orderable: false },
        ]
        ,
        'select': {
            'style': 'single'
        },
        "order": [[0, "desc"]]

    });




        $('.datepicker').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true
        });

    function AddTrip() {
        $("#TripId").val(0);
        $("#saveCreate").removeClass("hidden");
        $("#saveUpdate").addClass("hidden");
        $("#ModalTitle").text("Create Trip ");
        $("#ServiceStartDate").val('').trigger('change');
        $("#ServiceEndDate").val('').trigger('change');
        $('#VehicleListId').val('').trigger('change');
        $('#DriverId').val('').trigger('change');


            $("#createTrip").modal("show");
        }

       function reInitVehicleDriver() {
                $(".select2-vehicle").select2({
                        ajax: {
                            type: "POST",
                            url: "@Url.Content("~/vehiclelists/getAvailableVehicle")?d=@ViewBag.unixtimeFormatted&timefrom=" + $("#ServiceStartDate").val()+ "&timeto="+$("#ServiceEndDate").val(),
                            dataType: 'json',
                            delay: 250,
                            data: function (params) {
                                return {
                                    q: params.term, // search term
                                    page: params.page
                                };
                            },
                            processResults: function (data, page) {
                                // parse the results into the format expected by Select2.
                                // since we are using custom formatting functions we do not need to
                                // alter the remote JSON data
                                return {
                                    results: data.items
                                };
                            },
                            cache: false
                        },
                        minimumInputLength:1,
                        width: '100%'
                });

                $(".select2-vehicle").change(function () {
                        $("#Capacity").val('');
                        $.ajax({
                            type: "POST",
                            url: "@Url.Content("~/trips/checkcapacity/")"+ this.value,
                            data: "vehicleId=" + this.value,
                            //"contentType": "application/json; charset=utf-8",
                            dataType: "JSON",
                            success: function (data, textStatus, jqXHR) {
                                $("#Capacity").val(data.vehicleCapacity);
                            }
                        });
                });

                $(".select2-driver").select2({
                    ajax: {
                        type: "POST",
                        url: "@Url.Content("~/drivers/getAvailableDriver")?d=@ViewBag.unixtimeFormatted&timefrom=" + $("#ServiceStartDate").val()+ "&timeto="+$("#ServiceEndDate").val(),
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function (data, page) {
                            // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to
                            // alter the remote JSON data
                            return {
                                results: data.items
                            };
                        },
                        cache: false
                    },
                    minimumInputLength:1,
                    width: '100%'
           });

    }
    reInitVehicleDriver();



    function SaveTrip(method) {
        var _start = parseInt($("#ServiceStartDate").val().replace(':', ''));
        var _end = parseInt($("#ServiceEndDate").val().replace(':', ''));

        if (_end <= _start) {

            swal({
                title: "Error",
                text: "Invalid Time",
                type: "error"
            });
        } else {


                            var methodTxt = "";
                            if (method == 1) {
                                methodTxt = "This will create a trip schedule";
                            }
                            else if (method == 2) {
                                methodTxt = "This will update this trip schedule";
                            }
                            else if (method == 3) {
                                methodTxt = "This will cancel this trip schedule";
                            }

                            if ($("#ReservationTypeId").val() == "" ||
                                $("#ServiceStartDate").val() == "" ||
                                $("#ServiceEndDate").val() == "" ||
                                $("#VehicleListId").val() == "" ||
                                $("#Capacity").val() == "" ||
                                $("#DriverId").val() == "") {

                                swalAlertOnly("Error", "Please complete all fields." , "error");
                            }
                            else {
                                swal({
                                    title: "Are you sure?",
                                    text: methodTxt,
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Yes, Save it!",
                                    closeOnConfirm: false
                                }, function () {

                                    SubmitForm(method);

                                });
                            }
        }

    }

    function SubmitForm(method) {
                var l = $('#btnSave').ladda();
                l.ladda('start');
                $(".btn").attr("disabled", "disabled");
                $(".confirm").attr("disabled", "disabled");
                $(".cancel").attr("disabled", "disabled");
        var _url = "";
        if (method == 1) {
            _url = "@Url.Content("~/trips/create")";
        }
        else if (method == 2) {

            _url = "@Url.Content("~/trips/edit/")" + $("#TripId").val() + "?id="+$("#TripId").val()+"&";
        }
        else if (method == 3) {
            _url = "@Url.Content("~/trips/edit/")" + $("#TripId").val() + "?id="+$("#TripId").val()+"&";
        }

                    $.ajax({
                            type: "POST",
                            url: _url,
                            data: $("#formTrip").serialize() +"&ServiceDateTimeStamp=@ViewBag.unixtimeFormatted",
                            //"contentType": "application/json; charset=utf-8",
                            dataType: "JSON",
                            success: function (data, textStatus, jqXHR) {
                                console.log(data);
                                if (data.success == 1) {
                                    $("#createTrip").modal("hide");
                                    //if ($("#TripId").val() > 0) {

                                    //}

                                    $('#tableMorning').DataTable().ajax.reload();
                                    $('#tableAfternoon').DataTable().ajax.reload();


                                    swalAlertOnly("Success", data.message, "success");
                                    if ($("#TripId").val() == $("#TripIdLoaded").val()) {
                                        OpenThisTrip($("#TripId").val());
                                    }
                                } else {
                                    swalAlertOnly("Error", data.message, "error");
                                }
                                l.ladda('stop');
                                $(".btn").removeAttr("disabled");
                                $(".confirm").removeAttr("disabled");
                                $(".cancel").removeAttr("disabled");
                            }
                    });


                }

    function ViewTrip() {
        $('#tableSelectTrip').DataTable().clear().draw();
        $('#tableSelectTrip').DataTable().ajax.reload();
        $("#ModalSelectTrip").modal("show");
        setTimeout(function () {
            $('#tableSelectTrip').DataTable().columns.adjust().responsive.recalc();
        }, 500);
    }

    function OpenThisTrip(id) {
        $("#ModalSelectTrip").modal("hide");
        $("#loading").modal('show');
                    $.ajax({
                            type: "POST",
                            url: "@Url.Content("~/trips/checkTrip")",
                            data: "tripId=" + id,
                            //"contentType": "application/json; charset=utf-8",
                            dataType: "JSON",
                            success: function (data, textStatus, jqXHR) {

                                $("#loading").modal("hide");

                                $("#lblVehicle").html(data['vehicleName'][0].model + " / " + data['vehicleName'][0].plateNumber);
                                $("#lblCapacity").text(data['data'].capacity);
                                $("#lblRemaining").text(data['data'].remainingCapacity);
                                $("#lblRemainingPM").text(data['data'].remainingCapacityPM);
                                $("#lblDriver").text(data['driverName'].firstName + " " + data['driverName'].lastName);
                                $("#TripId").val(id);
                                $("#TripIdLoaded").val(id);
                                $("#lblTrip").text(data['data'].tripControlNo);
                                $(".TripLookup").removeClass("hidden");
                                $("#ReserveBtn").removeClass("hidden");

                                $('#tableMorning').DataTable().ajax.reload();
                                $('#tableAfternoon').DataTable().ajax.reload();

                                setTimeout(function () {
                                    $('#tableMorning').DataTable().columns.adjust().responsive.recalc();
                                    $('#tableAfternoon').DataTable().columns.adjust().responsive.recalc();
                                    $('#tableMorningAvailable').DataTable().columns.adjust().responsive.recalc();
                                    $('#tableAfternoonAvailable').DataTable().columns.adjust().responsive.recalc();
                                    $("#loading").modal("hide");
                                }, 500);
                            }
                    });
    }

    function AssignReserve(_method) {
        //_method 1 -> assign, 2 -> remove

        var _link = "";
        var _reserve = "";
        var _groupClass = "";
        if (_method == 1) {
            _link = "@Url.Content("~/trips/reservePassengers")";
            _reserve = "Reserve";
            _groupClass = "checkBoxGroup";
        }
        else if (_method == 2) {
            _link = "@Url.Content("~/trips/removeReservePassengers")";
            _reserve = "Remove";
            _groupClass = "checkBoxGroupR";
        }

        var checkcounter = 0;
        var TransactionIds = "";
        $('.' + _groupClass).each(function () {
            if (this.checked) {
                checkcounter++;
                TransactionIds += this.value + ",";
            }
        });

        TransactionIds = TransactionIds.slice(0, -1);

        if (checkcounter <= 0) {
            swalAlertOnly("Error", "Please select data.", "error");
        }
        else if (checkcounter >= 1) {
            swal({
                title: "Are you sure?",
                text: "This will "+_reserve+" all the person(s) you selected",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#18a689",
                confirmButtonText: "Yes, " + _reserve+" it!",
                closeOnConfirm: false
            }, function () {
                if (_method == 1) {
                    $("#ModalLoadingSMS").modal('show');
                    $("#ModalLoadingSMS").css('display','block');
                } else {

                    $("#loading").modal("show");
                }

                    $.ajax({
                            type: "POST",
                            url: _link,
                        data: { "TransactionId": TransactionIds, "_id": $("#TripIdLoaded").val()},
                            //"contentType": "application/json; charset=utf-8",
                            dataType: "JSON",
                            success: function (data, textStatus, jqXHR) {

                                $("#lblRemaining").text(data.remainingAM);
                                $("#lblRemainingPM").text(data.remainingPM);
                                if (data.success == 1) {
                                    swalAlertOnly("Success", data.message, "success");
                                } else {
                                    swalAlertOnly("Error", data.message, "error");
                                }

                                $("#ModalLoadingSMS").css('display', 'none');

                                $(".TripLookup").removeClass("hidden");
                                $("#ReserveBtn").removeClass("hidden");


                                $('#tableMorning').DataTable().ajax.reload();
                                $('#tableAfternoon').DataTable().ajax.reload();
                                $('#tableMorningAvailable').DataTable().ajax.reload();
                                $('#tableAfternoonAvailable').DataTable().ajax.reload();
                                setTimeout(function () {
                                    $('#tableMorning').DataTable().columns.adjust().responsive.recalc();
                                    $('#tableAfternoon').DataTable().columns.adjust().responsive.recalc();
                                    $('#tableMorningAvailable').DataTable().columns.adjust().responsive.recalc();
                                    $('#tableAfternoonAvailable').DataTable().columns.adjust().responsive.recalc();
                                    $("#loading").modal("hide");
                                }, 1000);
                            }
                    });

            });

        }
    }


    function checkOther(_id, _this, _r) {
        if (_this.id != "") {
            var res = _this.id.split("_");

            if (_this.checked) {
                //alert(_id + 'checked');
                $('#checkselect' + _r + '2_' + res[1]).prop('checked', true);
                $('#checkselect' + _r + '3_' + res[1]).prop('checked', true);
            } else {
                $('#checkselect' + _r + '2_'  + res[1]).prop('checked', false);
                $('#checkselect' + _r + '3_'  + res[1]).prop('checked', false);
            }
        }


    }

    function EditThisTrip(id) {

        $("#ModalSelectTrip").modal("hide");
        $("#loading").modal('show');
                    $.ajax({
                            type: "POST",
                            url: "@Url.Content("~/trips/checkTrip")",
                            data: "tripId=" + id,
                            //"contentType": "application/json; charset=utf-8",
                            dataType: "JSON",
                            success: function (data, textStatus, jqXHR) {
                                //alert(data['data'].id);
                                $("#loading").modal("hide");
                                $("#TripId").val(data['data'].id);
                                $("#saveUpdate").removeClass("hidden");
                                $("#saveCreate").addClass("hidden");
                                $("#ModalTitle").text("Update Trip - " + data['data'].tripControlNo);
                                $("#ServiceStartDate").val(data.starttime).trigger('change');
                                $("#ServiceEndDate").val(data.endtime).trigger('change');

                                $('#VehicleListId').append(`<option value='` + data['vehicleName'][0].id + `' selected>` + data['vehicleName'][0].model + `/` + data['vehicleName'][0].plateNumber + `</option>`).val(data['vehicleName'][0].id).trigger('change');

                                $('#DriverId').append(`<option value='` + data['driverName'].id + `' selected>` + data['driverName'].firstName + ` ` + data['driverName'].lastName + `</option>`).val(data['driverName'].id).trigger('change');

                                $("#createTrip").modal("show");
                            }
                    });

    }

    function CancelThisTrip(id) {

        $("#CancelId").val(id);
        $("#CancelReason").val("");
        $("#ModalCancelRemarks").modal("show");

    }

    function CancelTrip() {

        if ($.trim($("#CancelReason").val()) == "") {
            swalAlertOnly("Error", "Please provide cancel reason", "error");
            return false;
        } else {


                            var _url = "@Url.Content("~/trips/Cancel/")" + $("#CancelId").val() ;


                            $.ajax({
                                    type: "POST",
                                    url: _url,
                                    data: "id=" + $("#CancelId").val() + "&CancelReason=" + $("#CancelReason").val(),
                                    //"contentType": "application/json; charset=utf-8",
                                    dataType: "JSON",
                                    success: function (data, textStatus, jqXHR) {
                                        console.log(data);
                                        if (data.success == 1) {
                                            $("#ModalSelectTrip").modal("hide");
                                            $("#ModalCancelRemarks").modal("hide");
                                            $("#CancelReason").val('');
                                            swalAlertOnly("Success", data.message, "success");

                                            //if()
                                            location.reload();


                                        } else {
                                            swalAlertOnly("Error", data.message, "error");
                                        }
                                    }
                            });
        }
    }


    function clearOtherDate() {
        $("#ServiceEndDate").val("");
        $("#VehicleListId").val("").trigger("change");
        $("#DriverId").val("").trigger("change");
    }


    function EmailGS(id){
      $.ajax(
      {
        type: "POST",
        url: '@Url.Action("SendEmailGS", "Trips")',
        dataType: 'json',
        data: {
            id: id,
        },
        error: function (data) {
            console.log(data);
        },
        success: function (data) {
             if (data.message === "1") {

                      $('#tableMorning').DataTable().ajax.reload();
                      $('#tableAfternoon').DataTable().ajax.reload();
                      $('#tableSelectTrip').DataTable().clear().draw();
                      $('#tableSelectTrip').DataTable().ajax.reload();
                 swalAlertOnly("Success", "Email Sent Successfully!", "success");
            } else {
                swalAlertOnly("Error", data.message, "error");
            }
        }
      });
    }

    function OpenModalAddPassengerByPass() {
            var dtimestamp = @ViewBag.unixtime;
        window.location.href = '@Url.Content("~/shuttlepassengers/create")' + '?ft=1&d='+ (dtimestamp / 1000);
            //$("#ModalAddPassengerByPass").modal("show");

        }

        function SendSMS() {
            $(".LoadingSMSLabel").text("Sending SMS Summary");
            $("#ModalLoadingSMS").modal("show");
            $("#ModalLoadingSMS").css('display', 'block');
              $.ajax(
                  {
                    type: "POST",
                    url: '@Url.Action("SendSMSGroup", "Trips")',
                    dataType: 'json',
                    data: {
                        timestamp: '@ViewBag.unixtimeFormatted',
                        smsText: $("#smsTextarea").val(),
                    },
                      error: function (data) {
                          $("#ModalLoadingSMS").modal("hide");
                          $("#ModalLoadingSMS").css('display', 'none');
                        console.log(data);
                    },
                      success: function (data) {
                          $("#ModalLoadingSMS").modal("hide");
                          $("#ModalLoadingSMS").css('display', 'none');
                         if (data.message === "1") {
                                  $('#tableMorning').DataTable().ajax.reload();
                                  $('#tableAfternoon').DataTable().ajax.reload();
                                  $('#tableSelectTrip').DataTable().clear().draw();
                             $('#tableSelectTrip').DataTable().ajax.reload();
                             $(".smsbtn").text("Re-Send SMS Summary");
                             $("#SendSMSModal").modal("hide");
                             swalAlertOnly("Success", "SMS Sent Successfully!", "success");
                        } else {
                            swalAlertOnly("Error", data.message, "error");
                        }
                      }

                  });
    }

    function SendSMSModal() {
        $("#smsTextarea").val('');
               $.ajax(
                  {
                    type: "POST",
                    url: '@Url.Action("SendSMSGroupShow", "Trips")',
                    dataType: 'json',
                    data: {
                        timestamp: '@ViewBag.unixtimeFormatted',
                    },
                      error: function (data) {
                        console.log(data);
                    },
                      success: function (data) {
                          if (data.returnSuccess == 1) {
                              $("#smsTextarea").val(data.message);
                             $("#SendSMSModal").modal("show");
                        } else {
                            swalAlertOnly("Error", data.message, "error");
                        }
                      }

                  });

    }


</script>



<script>

    function cancelTrip(id) {

            CancelGroup(1,id);
    }
    function declineTrip(id) {


            CancelGroup(2,id);
    }

    function CancelDeclineTrip() {

        if ($.trim($("#CancelDeclineReason").val()) == "") {
            swalAlertOnly("Error", "Please provide reason", "error");
            return false;
        } else {

                    var mode = $("#CancelDeclineMode").val();
                    var title = "";

                    if (mode == 1) {
                        title = "Cancel";
                    } else if (mode == 2) {
                        title = "Decline";
                    }


                    swal({
                        title: "Are you sure?",
                        text: "This will " + title+" all the selected person(s)",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#18a689",
                        confirmButtonText: "Yes, " + title+" it!",
                        closeOnConfirm: false
                    }, function () {

                        Proceed($("#CancelDeclineMode").val(), $("#CancelDeclineId").val());

                            });
        }
    }


    function CancelGroup(mode, id) {

        $("#ModalCancelDeclineRemarks").modal("show");
        $("#CancelDeclineId").val(id);
        $("#CancelDeclineMode").val(mode);
        $("#CancelDeclineReason").val("");


        if (mode == 1) {
            $("#CancelDeclineTitle").text("Cancel Reason:");
        }
        else if (id == 2) {
            $("#CancelDeclineTitle").text("Decline Reason:");
        }


    }

    function Proceed(method, id) {

        $("#ModalLoadingSMS").modal("show");
        $("#ModalLoadingSMS").css('display', 'block');
        var _url = "@Url.Content("~/shuttlepassengers/DeclineCancel/")" + id ;


        $.ajax({
                type: "POST",
                url: _url,
                data: "id=" + id + "&method=" + method+ "&CancelDeclineReason=" + $("#CancelDeclineReason").val(),
                //"contentType": "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    if (data.success == 1) {


                        $("#ModalLoadingSMS").css('display', 'none');
                        $("#ModalCancelDeclineRemarks").modal("hide");
                        $("#CancelDeclineId").val("");
                        $("#CancelDeclineMode").val("");
                        $("#CancelDeclineReason").val("");
                        swalAlertOnly("Success", data.message, "success");

                        //if()
                        $('#tableMorningAvailable').DataTable().clear().draw();
                        $('#tableMorningAvailable').DataTable().ajax.reload();
                        $('#tableAfternoonAvailable').DataTable().clear().draw();
                        $('#tableAfternoonAvailable').DataTable().ajax.reload();


                    } else {


                        $("#ModalLoadingSMS").css('display', 'none');
                        swalAlertOnly("Error", data.message, "error");
                    }
                }
        });

    }

</script>